
build/classes/java/main/Controller.class
build/classes/java/main/Main.class
build/distributions/Softwaretechnik-1.0.tar
build/distributions/Softwaretechnik-1.0.zip
build/libs/Softwaretechnik-1.0.jar
build/resources/main/App.fxml
build/scripts/Softwaretechnik
build/scripts/Softwaretechnik.bat
build/tmp/jar/MANIFEST.MF
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
