
build/classes/java/main/Controller.class
build/classes/java/main/Main.class
build/distributions/Softwaretechnik-1.0.tar
build/distributions/Softwaretechnik-1.0.zip
build/libs/Softwaretechnik-1.0.jar
build/resources/main/App.fxml
build/scripts/Softwaretechnik
build/scripts/Softwaretechnik.bat
build/tmp/jar/MANIFEST.MF
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileChanges/last-build.bin
.gradle/5.2.1/fileContent/fileContent.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/5.2.1/gc.properties
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/5.2.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.gradle/5.2.1/javaCompile/classAnalysis.bin
build/classes/java/main/calc/Gewichte.class
build/classes/java/main/calc/RestController.class
build/classes/java/main/calc/Währung.class
build/classes/java/main/calc/Zeit.class
build/resources/main/währungen.json
